

/* Cards */
.first-card, .second-card{
    border-radius: var(--border--radius);
    height: 94%;
    width: min(16.4rem, 85%);
    background-color: lightgray;
    /* margin: 0 5% 0 5%; */
    
    
}

.cardRed, .first-card{
    justify-content:flex-end;
    align-items: center;

}

.cardBlue, .second-card{
    justify-content:flex-start;
    align-items: center;
    
}


.first-card{
    margin-right: var(--minor-space);

}

.second-card{
    margin-left: var(--minor-space);

}

.poke-img{
    display: flex;
    border-radius: var(--border--radius);
    margin: 5%;
    width: 90%;
    height: 93%;
    background-color: khaki;
    align-items:flex-end;
    
}

.inf{
    display: flex;
    height: 10%;
    width: 100%;
    padding: 5%;
    align-items:center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    line-height: 2.1rem;
    
}

h2{
    font-weight: 300;
    font-size: var(--minor-space);
    line-height: 2.1rem;

    padding: .3rem;

    clip-path: circle();
    background-color: white;

}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    /* font-size: 1.4rem; */
    
}