* {
    margin: 0;
    padding: 0;
    
}

/*  */
:root{
    --player--red: #e73939;
    --player--blue: #2562aa;

}
/*  */

#main{
    display: grid;
    width: 100%;
    grid-template-areas: 
        "h h"
        "c c"
        "f f";
    height: 100vh;
    background:linear-gradient(0deg, rgba(37, 98, 170, 1) 50%, rgba(231, 57, 57, 1) 50%);

}

#main > header{
    grid-area: h;
    height: 27vh;
    background-color: var(--player--red);

}

#main > footer{
    grid-area: f;
    height: 27vh;
    background-color: var(--player--blue);

}

.cards {
    display: flex;
    grid-area: c;
    height: 46vh;
    width: 100%;
    
}

.cardRed, .cardBlue{
    display: flex;
    width: 50vw;
    
}

.cards .cardRed{
    background-color: var(--player--red);
    
    
}

.cards .cardBlue{
    background-color: var(--player--blue);
}