* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

#main{
    display: grid;
    width: 100%;
    grid-template-areas: 
        "h h"
        "c c"
        "f f";
    height: 100vh;
}

#main > header{
    grid-area: h;
    height: 32vh;
    background-color: #E73939;
}

#main > footer{
    grid-area: f;
    height: 32vh;
    background-color: #2562AA;
}

.cards .cardRed, .cardBlue{
    display: flex;
    width: 50vw;
    align-items: center;
    
}

.cards {
    grid-area: c;
    height: 36vh;
    width: 100%;
    display: flex;
}

.cards .cardRed{
    background-color: #E73939;
    align-items: center;
    
}

.cards .cardBlue{
    background-color: #2562AA;
    align-items: center;

}